body{
	background-image:url("../content/images/background.jpg");
	background-repeat:no-repeat;
/* 	background-position: -5px 5px; */
	background-attachment:fixed;
}
.imgtop
{
  z-index:10;
  opacity:0.7;
  filter:alpha(opacity=70);
}

.taillelogo {
	width:25%;
	height:25%;
}

.tailleimage{
	width:35%;
	height:35%;
}

.handPointer {
	cursor: pointer !important;
}

/* .vignetteImage { */
/* 	width: 300px; */
/* 	height: 200px; */
/* /*     overflow: hidden; */ */
/* } */
.crop {
    width: 250px;
    height: 125px;
    overflow: hidden;
}

.crop img {
    width: 250px;
    height: 125px;
/*     margin: -75px 0 0 -100px; */
}

.vignette {
	background-color: white;
	width: 250px;
}

vignette, .lead:hover {
	font-style: italic;
}

vignette, .description:hover {
	font-style: italic;
}

.linkStyle:link {
	color: #000;
}

.linkStyle:visited {
	color: #000;
}

.linkStyle:active {
	color: #000;
}

.linkStyle:hover {
	color: #000;
	text-decoration: none;
	
}
.linkStyle:focus {
	outline: none;
}
.linkStyle:visited{
	outline: none;
}

a{
	outline: none;
}

h3.titre{
	font-size: 1.2em ;
}
div.container-fluid{
	margin-top:20px;
}
div.bars{
	margin-left:2%;
	margin-right:0%;
	text-align:center;
	padding: 0 0 10px 10 px;
}
div.panelbd{
	padding: 0.5em 0.5em 0.5em 2em;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-down: 10px;
	text-align:center;
}
div.panel-heading{
	text-align: center;
	font-size: 20px; 
}